.homepage {
  padding: 0 4rem;
  overflow-y: scroll;
  padding-top: 2rem;
  padding-bottom: 5rem;
  height: 100%;

  background-image: url('/17583.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  span {
    margin-top: 1.5rem;
    color: #0a0a0a;
    font-weight: 600;
  }

  @media (max-width: 720px) {    
    background-size: cover;
    background-position: center;
  }
}

.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.groupContent {
  margin-top: 2.5rem;
  width: 55%;

  @media (max-width: 720px) {    
    width: 100% !important;
  }
}