.navigationpage {
  padding: 0 4rem;
  overflow-y: scroll;
  padding-top: 2rem;
  padding-bottom: 5rem;
  height: 100%;

  background-image: url('/17583.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  span {
    margin-top: 1.5rem;
    color: #0a0a0a;
    font-weight: 600;
  }

  @media (max-width: 720px) {    
    background-size: cover;
    background-position: center;
  }  
}

.navigationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.groupContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5rem;
  width: 60%;

  @media (max-width: 720px) {    
    width: 100% !important;
    flex-direction: column;
    justify-content: center;
  }

  span {
    font-size: 0.8rem;
    font-weight: 400 !important;
    text-align: end;
  }
}

.groupContent {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  width: 30%;

  @media (max-width: 720px) {    
    width: 100% !important;
  }
}

.iconsContent {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btnIcon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 45%;

  border: 1px solid #758794;
  border-radius: 20px;

  padding: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  cursor: pointer;

  span {
    margin-top: 0 !important;
  }
}